server {
    listen {{ puerto }} default_server;
    listen [::]:{{ puerto }} default_server;
    
    root /var/www/html;
    index index.html index.htm;
    
    server_name _;
    
    location / {
        try_files $uri $uri/ =404;
    }
}